/* Specific Styles for the contact page */
.contact {
  display: grid;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 90vh;
}

.contact h1 {
  font-size: 50px;
  text-align: center;
  color: #eb894f;
  margin: 0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  margin-bottom: 50px;
  margin-top: 50px;
}

.contact_container {
  background-color: #eb894f;
  padding: 50px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: grid;
}

.contact_content h2 {
  margin-bottom: 20px;
  font-size: 30px;
  color: black;
}
.contact_card h3 {
  font-weight: bold;
}

.contact_card p {
  margin: 10px 0;
  font-size: 18px;
  color: white;
}

.contact_card a {
  color: white;
}

.contact_card a:hover {
  color: white;
}

@media screen and (max-width: 960px) {
  .contact_container {
    margin-bottom: 0px;
  }

  .contact h1 {
    margin-top: 0px;
  }
}
